.banner{
    background-color: #4EA0FF;
    height: 100px;
    background-image:url("../img/pattern.png");
    background-size: 450px;
}

.logo{
 height: 130px;
 width: 200px;   
}

.big_size_title{
    font-size: 50px;

}
.p_grey{
    color: grey;
}


.small_size_p{
    color: grey;
    font-size: 10px;
 }

 .description_photo{
     font-size: 10px;
 }

 .yellow{
    background-color: yellow;
 }

 #theadlorem{
     background-color: #20A9E5;
 }
 .first_third{
     background-color: #B1E5F2;
 }
 
 .tabel_noborder{
     border-collapse:collapse;
 }

 .grey_title{
     color: grey;
 }

 .img_bottom{
    width: 212;
    height: 200px;
}
